<ion-header>
  <ion-navbar>
    <ion-title>
      Restaurant Decider
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div ng-if="questionOne">
		<h1>Cuisine?</h1>
    		<p><input type="checkbox"> Sushi</p>
 
    		<p><input type="checkbox"> Burgers</p>
    
    		<p><input type="checkbox"> Tacos</p>
   
    		<p><input type="checkbox"> Pizza</p>

    		<button (click)="goToQuestionTwo()">Next Question</button>
	</div>

<br>
    
    <div ng-if="questionTwo">
		<h1>Location?</h1>
    		<p><input type="checkbox"> River North</p>
 
    		<p><input type="checkbox"> Old Town</p>
    
    		<p><input type="checkbox"> Wicker Park</p>
   
    		<p><input type="checkbox"> Loop</p>

    		<button (click)="goToQuestionThree()">Next Question</button>
	</div>

<br>

	<div ng-show="questionThree">
		<h1>Budget?</h1>
    		<p><input type="checkbox"> $</p>
 
    		<p><input type="checkbox"> $$</p>
    
    		<p><input type="checkbox"> $$$</p>
   
    		<p><input type="checkbox"> $$$$</p>

    		<button (click)="generateRestaurants()">Find Restaurants</button>
	</div>

</ion-content>
