
#container {
	background-image: url('../assets/icon/lauren-lester-205923.jpg');
	background-size: cover;
	background-position: right;
	height: 536px;
	width: 414px;
	margin-left: -49px;
	margin-top: -16px;
}

#questionOne, #questionTwo, #questionThree, #showSearchCriteria{
	margin-top: 92px;
	text-align: center;
	position: absolute;
	height: 300px;
	width: 250px;
	padding-top: 32px;
	margin-left: 78px;
	border: 1px solid black;
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	background-position: center center;
	font-family: 'Gudea', sans-serif;
	cursor: pointer;
}

#questionOne p, #questionTwo p, #questionThree p {
	font-size: 16px;
	text-align: left;
	margin-left: 87px;
}

#showSearchCriteria {
	padding-top: 55px;
}

#showSearchCriteria ul li {
	list-style: none;
	padding: 10px;
	text-align: left;
	font-size: 16px;
}
 
#showRestaurants {
	margin-top: 22px;
	text-align: center;
	position: absolute;
	height: 500px;
	width: 250px;
	padding-top: 32px;
	margin-left: 78px;
	border: 1px solid black;
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 5px rgba(0,0,0,.75);
	background-position: center center;
	font-family: 'Gudea', sans-serif;
	cursor: pointer;
}

h1 {
	color: #3A3A3B;
	font-size: 25px;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #4EA5F8;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}

#restaurantGenerate {
	-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #68B684;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}
