<ion-header>
  <ion-navbar>
    <ion-title>
      Restaurant Decider
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


	<div id="questionOne" *ngIf="showQuestionOne">
		<h1>Cuisine?</h1>
    		<p><input type="radio" [(ngModel)]="answers.cuisine" value="sushi"> Sushi</p>
 
    		<p><input type="radio" [(ngModel)]="answers.cuisine" value="tacos"> Tacos</p>
    
    		<p><input type="radio" [(ngModel)]="answers.cuisine" value="pizza"> Pizza</p>
   
    		<p><input type="radio" [(ngModel)]="answers.cuisine" value="burgers"> Burgers</p>

    		<button (click)="goToQuestionTwo()">Submit</button>
	</div>

<br>
    
    <div id="questionTwo" *ngIf="showQuestionTwo">
		<h1>Location?</h1>
    		<p><input type="radio" [(ngModel)]="answers.location" value="river north"> River North</p>
 
    		<p><input type="radio" [(ngModel)]="answers.location" value="old town"> Old Town</p>
    
    		<p><input type="radio" [(ngModel)]="answers.location" value="wicker park"> Wicker Park</p>
   
    		<p><input type="radio" [(ngModel)]="answers.location" value="loop"> Loop</p>

    		<button (click)="goToQuestionThree()">Submit</button>
	</div>

<br>

	<div id="questionThree" *ngIf="showQuestionThree">
		<h1>Budget?</h1>
    		<p><input type="radio" [(ngModel)]="answers.budget" value="$"> $</p>
 
    		<p><input type="radio" [(ngModel)]="answers.budget" value="$$"> $ $</p>
    
    		<p><input type="radio" [(ngModel)]="answers.budget" value="$$$"> $ $ $</p>
   
    		<p><input type="radio" [(ngModel)]="answers.budget" value="$$$$"> $ $ $ $</p>

    		<button id='finalButton'(click)="getRestaurants()">Find Restaurants</button>
	</div>


</ion-content>
