<ion-header>
  <ion-navbar>
    <ion-title>
      F R E S H
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<div id="container">


	<div id="intro" *ngIf="showIntro">
		<h1>Ever had trouble deciding what restaurant to go to?</h1> 
			<p>We're here to find you a F R E S H spot.</p>
		<button (click)="goToQuestionOne()">Get Started</button>
	</div>


	<div id="questionOne" *ngIf="showQuestionOne">
    	<h1>What city are you trying to eat in?</h1>
    		<p><input type="radio" [(ngModel)]="answers.location" value="San Francisco"> San Francisco</p>
    		<p><input type="radio" [(ngModel)]="answers.location" value="Chicago"> Chicago</p>
    		<p><input type="radio" [(ngModel)]="answers.location" value="Minneapolis"> Minneapolis</p>
    		<p><input type="radio" [(ngModel)]="answers.location" value="Dallas"> Dallas</p>
    	<button (click)="goToQuestionTwo()">Submit</button>
	</div>
    

    <div id="questionTwo" *ngIf="showQuestionTwo">
		<h1>What kind of cuisine are you feelin'?</h1>
    		<p><input type="radio" [(ngModel)]="answers.cuisine" value="Sushi"> Sushi</p>
    		<p><input type="radio" [(ngModel)]="answers.cuisine" value="Mexican"> Mexican</p>
    		<p><input type="radio" [(ngModel)]="answers.cuisine" value="Pizza"> Pizza</p>
    		<p><input type="radio" [(ngModel)]="answers.cuisine" value="Burgers"> Burgers</p>
    	<button (click)="goToQuestionThree()">Submit</button>
	</div>


	<div id="questionThree" *ngIf="showQuestionThree">
		<h1>How's the budget looking?</h1>
    		<p><input type="radio" [(ngModel)]="answers.price" value="1"> $</p>
    		<p><input type="radio" [(ngModel)]="answers.price" value="2"> $ $</p>
    		<p><input type="radio" [(ngModel)]="answers.price" value="3"> $ $ $</p>
    		<p><input type="radio" [(ngModel)]="answers.price" value="4"> $ $ $ $</p>
    	<button (click)="goToFinal()">Submit</button>
	</div>


	<div id="showSearchCriteria" *ngIf="showSearchCriteria">
		<h2>Search Criteria</h2>
    		<ul>
	    		<li>Location:   {{this.answers.location}}</li>
	    		<li>Cuisine:   {{this.answers.cuisine}}</li>
	    		<li>Price:   Level {{this.answers.price}}</li>
    		</ul>
		<button id='restaurantGenerate' (click)="getRestaurants()">Let's eat!</button>
	</div>


	<div id="showRestaurants" *ngIf="showRestaurants">
		<h2>Your  <span id="fresh">fresh</span> find</h2>
			<ul>
				<li>[Image] {{image_url}}</li>
				<li>[Name] {{name}}</li>
				<li>[Address]</li>
				<li>[Phone Number]</li>
				<li>[Reserve Now]</li>
			</ul>
		<button>More</button>
	
	</div>


</div>


</ion-content>
