page-home {

}

h1 {
	color: #3A3A3B;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #4EA5F8;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}

#finalButton {
	-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #68B684;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}
